{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>All Pages</h1>

    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'html' %}/{{ entry }}">{{ entry }}</a></li>
            <li><a href="{% url 'css' %}/{{ entry }}">{{ entry }}</a></li>
            <li><a href="{% url 'django' %}/{{ entry }}">{{ entry }}</a></li>
            <li><a href="{% url 'git' %}/{{ entry }}">{{ entry }}</a></li>
            <li><a href="{% url 'python' %}/{{ entry }}">{{ entry }}</a></li>
            
        {% endfor %}
    </ul>

{% endblock %}